@charset "utf-8";
html,body{ margin:0px; height:100%; 
font-family:"微软雅黑", "Arial Unicode MS", Calibri;
background: url(/css/bg1.jpg) ;
background-size:100% 100%;}
.left_div{width:10%; height:95%; float:left; text-align:center;padding: 10px 0 0 0;}
.class_div{
	width:90%; height:95%; display:inline-block; 
	background-color:rgba(0,0,0,0.5);;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 1em 0.5em;
  color:#000000;
  font-size:1.0em;
  overflow: auto;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center center;
}
.mid_div{width:60%; height:95%; float:left; text-align:center;padding: 10px 0 0 0;}
.scr_div{
	width:90%; height:95%; display:inline-block; 
	background-color:rgba(0,0,0,0.5);;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 1em 1.2em;
  color:#000000;
  font-size:1.0em;
  overflow: auto;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position:center center;
}
.right_div{width:30%; height:95%; float:left; text-align:center;padding: 10px 0 0 0;}
.ctrl_div{
	width:90%; height:95%; display:inline-block; 
	background-color:rgba(0,0,0,0.5);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 1em 0.6em;
  color:#ffffff;
}
.item_div{
  width:46%; height:33%; 
  float:left; text-align:center;margin:5px;
  background-color:#ffffff;
  padding:6px 3px;
  background-repeat: no-repeat;
  background-size:cover;
  /*-webkit-box-shadow:3px 3px 5px #555;  
  -moz-box-shadow:3px 3px 5px #555;  
  box-shadow:3px 3px 5px #555;  */
}
.item_div_name{
  background-color:rgba(255,255,255,0.5);;
  height:20%;
  line-height:48px;
}
.btn_div{
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  padding:15px 0;
  vertical-align:middle; text-align:center;
  margin: 0 auto;
  /*background-color:#ffffff;*/
}
.classbtn_div{
  border-buttom: 1px solid rgba(255, 255, 255, 0.26);
  padding:0px 0;
  vertical-align:middle; text-align:center;
  margin: 0 auto;
  height:11%;
}
.abtn{
  font-size:1.1em;
  /*line-height:48px;
  height:48px;*/
  padding:6px 0;
  width:40%;
  color:#000000;
  background-color:#F8B62C;
  font-weight:normal;
  font-family:Microsoft YaHei;
  border:0px solid #dcdcdc;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  /*-moz-box-shadow: inset 0px 0px 0px 0px #f19e9e;
  -webkit-box-shadow: inset 0px 0px 0px 0px #f19e9e;
  box-shadow: inset 0px 0px 0px 0px #f19e9e;*/
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.abtn:disabled{
  background-color:#a6cbe7;
}
.namescreen {
/*  padding: 2px 8px 0 3px;
  text-align:center;
  width:250px;
  font-size:14px;*/
}
.timescreen {
  background-color: #dddddd;
  border: 1px solid #ccc;
  padding: 2px 8px 0 3px;
  text-align:center;
  height: 58px;
  width:150px;
  font-size:48px;
}
.pie_timer_div {
  display: inline;
  margin:10px -88px;
  position: absolute;
  color:#FFF;
  height: 80px;
  width:80px;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  border-radius:40px;  
  background-color:#666;
}
/* time scroll*/
.game_time{width:50px;height:50px;text-align:center;}

.pie { width:200px; height:200px; background-color:blue; border-radius:100px; position:absolute; }
.pie1 { clip:rect(0px,200px,200px,100px); -o-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); background:-moz-radial-gradient(20% 50% 0deg, #333, #0000ff); background:-webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000), to(#0000ff)); }
.pie2 { clip:rect(0px,100px,200px,0px); -o-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); background:-moz-radial-gradient(80% 50% 0deg, #333, #0000ff); background:-webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000), to(#0000ff)); }
.hold { width:200px; height:200px; position:absolute; z-index:1; }
.hold1 { clip:rect(0px,200px,200px,100px); }
.hold2 { clip:rect(0px,100px,200px,0px); }
.bg { width:200px; height:200px; background-color:red; border-radius:100px; position:absolute; box-shadow:0px 0px 8px #333; background:-moz-radial-gradient(0% 50% 0deg, #900, #ff0000); background:-webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#900), to(#ff0000)); }
.time { width:160px; height:160px; margin:20px 0 0 20px; background-color:#fff; border-radius:100px; position:absolute; z-index:1; box-shadow:0px 0px 8px #333 inset; text-align:center; line-height:160px; font-family:"Book Antiqua", Palatino, serif; font-size:35px; font-weight:bold; text-shadow: 1px 1px 3px #333; }
.time em { background:#fff; position:absolute; top:62px; left:12px; height:18px; width:140px; opacity:0.4; }
/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
  width: 100%;  height: 100%;  position: fixed;  top: 0;  left: 0;  z-index: 1000;  display: none;
}
.modal {
  display: none;
  background: #eee;
  /*padding: 0 20px 20px;*/
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 500px;
  /*min-height: 300px;*/
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.closeBtn {
  width: 100%;
  background-color: #003399;
  color:#FFF;
  text-align:right;
  padding:12px 0;  
}
.saveBtn {
  width: 100%;
  background-color: #009900;
  color:#FFF;
  text-align:center;
  padding:12px 0;
}
.modal_cnt{
  padding:12px 0;  
  text-align:center;
}
input{
  border: 1px solid #35a5e5;
  border-radius: 3px;
  outline: medium none;
  transition: all 0.3s ease-in-out 0s;
  font-size:1.8em;
  width:180px;
  text-align:center;
}