@charset "utf-8";
html,body{ margin:0px; height:100%; 
font-family:"微软雅黑", "Arial Unicode MS", Calibri;
/*background: url(../css/bg1.jpg);*/
background-color:#FFF;
background-size:100% 100%;
}
.top_div{margin:10px 0 0 0;}
.class_div{
	position:relative;
	background: #000000;
	background-image:url(../css/menu.png);
	background-size:100% 100%;
	height:50px;
}
.mid_div{
  height:68%; width:100%; 
  text-align:center;
  margin:10px 0 0 0;
}
.scr_div{
  width:95%; height:95%;
  display:inline-block; 
  color:#000000;
  /*
  padding: 0.2em 1.0em;font-size:1.0em;*/
  overflow: auto; 
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position:center center;
}
.btm_div{ bottom:0;left:0; width:100%;text-align:center;padding:0;position:fixed;}
.ctrl_div{
	width:90%; 
	display:inline-block; 
	background-color:rgba(0,0,0,0.5);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 1em 0.6em;
  color:#ffffff;
}
.item_div{
  width:24%; height:190px; 
  float:left; text-align:left;
  background-color:#ffffff;
  margin:5px 3px;
  background-repeat: no-repeat;
  background-size:cover;
  /*-webkit-box-shadow:3px 3px 5px #555;  
  -moz-box-shadow:3px 3px 5px #555;  
  box-shadow:3px 3px 5px #555;  */
}
.selzone{
  background-color:rgba(0,0,0,0.5);
  color:#ffffff;
  bottom:0px;
  position: relative;
  padding:6px 12px;
  font-size:20px;
  /*height:20%;
  line-height:48px;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;*/
}
.btn_div{
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  padding:15px 0;
  vertical-align:middle; text-align:center;
  margin: 0 auto;
  /*background-color:#ffffff;*/
}
.classbtn_div{
  border-buttom: 1px solid rgba(255, 255, 255, 0.26);
  padding:0px 0;
  vertical-align:middle;
  text-align:center;
  margin: 0 auto;
  height:11%;
  float:left;
}
.abtn{
  font-size:18px;
  /*line-height:48px;
  height:48px;
  width:45%;*/
  padding:8px 12px;
  margin: 0 3px;
  color:#ffffff;
  background-color:rgba(255, 255, 255, 0.25);
  font-weight:normal;
  font-family:Microsoft YaHei;
  border:0px solid #dcdcdc;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.bbtn{
  color:#000;
  background-color:rgba(0, 0, 0, 0.25);
}
.abtn:disabled{
  background-color:#FF3333;
}
.abtn:active{
  background-color:#FBD88F;
}
.cbtn{
  /*line-height:48px;
  padding:8px 12px;*/
  width:60px;
  height:60px;
  margin: 0 24px;
  font-weight:normal;
  border:0px solid #dcdcdc;
  background-image: url(../css/btn_btm.png);
}
.cbtn:disabled{
  background-color:#FF3333;
}
.tbtn{
	border: 0 solid #000000;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: 50px;
    width: 12.5%;
}
.classsel{
	background:rgba(255,255,255,0.7) none repeat scroll 0 0;
}
.lbtn{
  font-size:30px;
  padding:8px 12px;
  margin: 0 3px;
  color:#ffffff;
  background-color:rgba(255, 255, 255, 0);
  font-weight:normal;
  font-family:Microsoft YaHei;
  border:0px solid #dcdcdc;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.opbutton{
	background:rgba(0,0,0,0);
	float:left;
	height:50px;
	width:20%;
}
.btmbtn{
	border: 0px solid #000000;
	background:rgba(0,0,0,0);
	float:left;
	height:80px;
	width:11.1%;
}
.menubtn{
}
.menubtn:disabled{
  background-color:#06cbe7;
}
.timescreen {
  background-color: #dddddd;
  border: 1px solid #ccc;
  padding: 2px 8px 0 3px;
  text-align:center;
  height: 58px;
  width:150px;
  font-size:48px;
}
.pie_timer_div {
  display: inline;
  margin:10px -88px;
  position: absolute;
  color:#FFF;
  height: 80px;
  width:80px;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  border-radius:40px;  
  background-color:#666;
}
.myselcai{
  background-color:rgba(153, 255, 153, 0.7);
}

.set_div{
  font-size:36px;
  text-align:center;
  margin:30px 0px;
}
input[type=number]{
  font-size:48px;
  text-align:center;
  width:150px;
}
input.sett{
  font-size:48px;
  text-align:center;
  width:250px;
}
/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
  width:100%;height:100%;position:fixed;top:0;left:0;z-index:90;display:none;
}
.overlay_init {
  width:100%;height:100%;position:fixed;top:0;left:0;z-index:90;display:block;
  background-color: #666; opacity:0.8;
}
.modal {
  display: none;
  background: #eee;
  /*padding: 0 20px 20px;*/
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 500px;
  /*min-height: 300px;*/
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.closeBtn {
  width: 100%;
  background-color: #003399;
  color:#FFF;
  text-align:right;
  padding:12px 0;  
}
.saveBtn {
  width: 100%;
  background-color: #009900;
  color:#FFF;
  text-align:center;
  padding:12px 0;
}
.modal_cnt{
  padding:12px 0;  
  text-align:center;
}
input{
  border: 1px solid #35a5e5;
  border-radius: 3px;
  outline: medium none;
  /*transition: all 0.3s ease-in-out 0s;
  font-size:1.8em;
  width:180px;*/
  text-align:center;
}
/* Header Style */
.codrops-top{
	position:relative;
	z-index: 999;
	background: #333333;
	background-image:url(../css/title.png);
	background-size:100% 100%;
	height:50px;
}
.codrops-btm{
	position:relative;
	background: #EEECEA;
	background-image:url(../css/foot.png);
	background-size:100% 100%;
	height:80px;
}