[Desktop Entry]
Name=lmf
Comment=My Python Program
Exec=python3 /home/pi/lmf/lmf7.py
Icon=/home/pi/lmf/yuanpeng-home.jpg
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true