<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>原烹</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../css/com.css"/>
<link rel="stylesheet" type="text/css" href="../css/btn_style.css"/>
<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../js/time_js.js"></script>
<script type='text/javascript' src='../js/jquery.modal.js'></script>
<script type='text/javascript' src='../js/kconnect.js'></script>
<script type="text/javascript" src='../js/lmf.js'></script>
</head>
<body>
<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top">
    <table width="100%" border="0" style="font-size:18px">
      <tr>
        <td><a href="./">
            <strong>介绍</strong>
        </a>
        </td>
        <td><a href="#" onClick="show_cai_class('all',this)">
            <strong>菜单</strong>
        </a>
        </td>
        <td><a href="#" onClick="show_cai_class('my',this)">
                <strong>烹饪</strong>
            </a>
        </td>
        <td><a href="#">
                <strong>点评</strong>
            </a>
        </td>
        <td><a href="#">
                <strong>设置</strong>
            </a>
        </td>
      </tr>
    </table>
    </div>
</div>
<div class="top_div">
    <div class="class_div" style="background-color:#FFF">
    <table width="100%" border="0" style="font-size:18px">
      <tr>
        <td>
        <input type="button" class="menubtn" value="已选" onClick="show_cai_class('my',this)">
        </td>
        <td>
        <input type="button" class="menubtn classsel" value="全部" onClick="show_cai_class('all',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="冰烹" onClick="show_cai_class('10',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="原烹" onClick="show_cai_class('70',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="味烹" onClick="show_cai_class('60',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="冷菜" onClick="show_cai_class('30',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="泉锅" onClick="show_cai_class('40',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="汤品" onClick="show_cai_class('50',this)">
        </td>
        <td>
        <input type="button" class="menubtn" value="甜品" onClick="show_cai_class('20',this)">
        </td>
      </tr>
    </table>
    </div>
</div>
<div class="mid_div">
  <div class="scr_div">
  {% for values in caifiles %}
      <div class="item_div caiclass{{values.1}}" 
       style="background-image:url('imagetmb/{{values.0}}')" bgp="image/{{values.5}}.jpg" 
       caiclass="{{values.1}}" caitime="{{values.3}}" vname="{{values.4}}">
          <div class="imgzone" style="height:80%"></div>
          <div class="selzone">
              {{values.2}} {{values.3}} 秒
          </div>
      </div>
  {% endfor %}    
    <div class="time-item runscr modalLink2">
    	<div style="width:150px; background-color:#FFF; float:left;text-align:center; margin-right:0px">
          <div style=" font-size:18px;">min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sec</div>
          <span id="minute_show">0</span>:<span id="second_show">0
    	</div>           
    	<div style="width:240px; background-color:#FFF; float:left; text-align:center">
          <div><span id="namescreen">v7</span> ℃</div>
          <div style="font-size:18px">实时温度</div>
    	</div>
    </div>    
  </div>
</div>

<div class="btm_div">
  <div class="codrops-top" style="background-color:#EEECEA;box-shadow:none;">
    <div style="padding:15px">    	
    	<input type="button" id="cntBtn" class="abtn bbtn disable_when_running " value="连接">
    	<input type="button" id="setBtn" class="abtn bbtn disable_when_running " value="设置"  onClick="do_show_setting()">
    <span id="run_type"></span>
    </div>            
  </div>
</div>

<div class="overlay"></div>
<div class="modal" id="modal1">
    <div class="closeBtn">关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">密码： <input type="text" id="pwd" placeholder="请输入密码" value=""/></div>
	<div class="modal_cnt">
      <input type="button" id="connect" style="width:40%" class="menubtn connect" value="连接">&nbsp;|&nbsp;状态:
      <span id="status">未连接</span>
    </div>
</div>
<div class="modal" id="modal2">
    <div class="closeBtn">关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">手动设置时间： 
      <input type="number" id="setMtime" placeholder="请输入时间" value=""/>&nbsp;&nbsp;秒
      <input type="button" id="setMtimebtn" style="width:20%" class="menubtn disable_when_running" value="设置">
  </div>
</div>
<div class="modal" id="modal3" style="width:80%">
    <div class="closeBtn">关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">
	启动(毫秒)： <input type="number" id="t1" placeholder="输入时间ms" value=""/>
	向上全速(毫秒)： <input type="number" id="t2u" placeholder="输入时间ms" value=""/>
    <br />
	停止(毫秒)： <input type="number" id="t3" placeholder="输入时间ms" value=""/>
	向下全速(毫秒)： <input type="number" id="t2d" placeholder="输入时间ms" value=""/>
	</div>
    <div class="modal_cnt">密码： <input type="text" id="setting_pwd" placeholder="请输入密码" value=""/>
      <input type="button" id="setting_save_btn" style="width:20%" class="menubtn" value="保存" onClick="do_save_setting()">
    </div>
</div>
<div class="modal" id="caitmp"></div>
<div id="run_type_def" style="display:none">
  <input type="button" class="abtn bbtn " value="盖子 开" onClick="shell_up()">
  <input type="button" class="abtn bbtn " value="盖子 合" onClick="shell_dw()">
  
  <input type="button" id="btnon" class="abtn bbtn disable_when_running" value="开始" onClick="doonoff(this)">
  <input type="button" id="btnoff" class="abtn bbtn" value="结束" onClick="doonoff(this)">
  
  <input type="button" class="abtn bbtn disable_when_running" id="btn_bw" value="保温" onClick="slave_on_off(this)">
  <input type="button" class="abtn bbtn " id="btn_sk" value="烧烤" onClick="shaokao_on_off()">
  
  <input type="button" class="abtn bbtn" value="播放视频" onClick="video_on_off(this)">
</div>
<div id="run_type_40" style="display:none">
  <input type="button" class="abtn bbtn " value="盖子 开" onClick="shell_up()">
  <input type="button" class="abtn bbtn " value="盖子 合" onClick="shell_dw()">
  
  <input type="button" id="btnqg_off_wat" class="abtn bbtn" value="关闭" onClick="liusui_on_off(this,0)">
  <input type="button" id="btnqg_sml_wat" class="abtn bbtn" value="流水" onClick="liusui_on_off(this,50)">
  <input type="button" id="btnqg_big_wat" class="abtn bbtn" value="上水" onClick="liusui_on_off(this,100)">
  
  <input type="button" id="btnqg_sml_stm" class="abtn bbtn " value="保温" onClick="slave_on_off(this)">
  <input type="button" id="btnqg_big_stm" class="abtn bbtn "value="蒸汽" onClick="main_steam_on_off(this)">
  
  <input type="button" class="abtn bbtn" value="播放视频" onClick="video_on_off(this)">
    </div>
</div>
</body>
</html>