<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>原烹</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../css/com.css"/>
<link rel="stylesheet" type="text/css" href="../css/btn_style.css"/>
<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src='../js/lmf2.js'></script>
</head>
<body>
<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top">
            	<a href="./">
            		<div class="opbutton" style="top:0px; left:105px;"></div>
            	</a>
            	<a href="./index2">
                    <div class="opbutton" style="top:0px; left:305px;background:rgba(51,51,51,0.8);"></div>
            	</a>
            	<a href="./index3">
                    <div class="opbutton" style="top:0px; left:485px;"></div>
            	</a>
            	<a href="#">
                    <div class="opbutton" style="top:0px; left:675px;"></div>
            	</a>
            	<a href="./set">
                    <div class="opbutton" style="top:0px; left:855px;"></div>
            	</a>
    </div>
</div>
<div class="top_div">
    <div class="class_div" style="background-color:#FFF">
        <input type="button" value="" style="background-position:0px 0px;" id="al" class="tbtn menubtn classsel" onClick="show_cai_class('all',this)">
        <input type="button" value="" style="background-position:0px 0px;" id="bp" class="tbtn menubtn" onClick="show_cai_class('30',this)">
        <input type="button" value="" style="background-position:-115px 0px;" id="yp" class="tbtn menubtn" onClick="show_cai_class('10',this)">
        <input type="button" value="" style="background-position:-248px 0px;" id="wp" class="tbtn menubtn" onClick="show_cai_class('70',this)">
        <input type="button" value="" style="background-position:0px 0px;" id="lc" class="tbtn menubtn" onClick="show_cai_class('60',this)">
        <input type="button" value="" style="background-position:-385px 0px;" id="qp" class="tbtn menubtn" onClick="show_cai_class('40',this)">
        <input type="button" value="" style="background-position:0px 0px;" id="tp" class="tbtn menubtn" onClick="show_cai_class('50',this)">
        <input type="button" value="" style="background-position:-505px 0px;" id="dx" class="tbtn menubtn" onClick="show_cai_class('20',this)">
    </div>
</div>
<div class="mid_div">
  <div class="scr_div">
  {% for values in caifiles %}
      <div class="item_div caiclass{{values.1}}" 
       style="background-image:url('imagetmb/{{values.0}}')" bgp="image/{{values.5}}.jpg" 
       caiclass="{{values.1}}" caitime="{{values.3}}" vname="{{values.4}}" raw="{{values.0}}">
          <div class="imgzone" style="height:80%"></div>
          <div class="selzone {{values.6}}">{{values.2}}</div>
      </div>
  {% endfor %}    
<!--    <div class="time-item runscr modalLink2">
    	<div style="width:150px; background-color:#FFF; float:left;text-align:center; margin-right:0px">
          <div style=" font-size:18px;">min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sec</div>
          <span id="minute_show">0</span>:<span id="second_show">0
    	</div>           
    	<div style="width:240px; background-color:#FFF; float:left; text-align:center">
          <div><span id="namescreen">v7</span> ℃</div>
          <div style="font-size:18px">实时温度</div>
    	</div>
    </div> -->   
  </div>
</div>

</body>
</html>